.arena___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../resources/arena.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.arena___battlefield {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.arena___right-fighter img {
  transform: scaleX(-1);
}

.arena___fighter img {
  height: 480px;
}

.arena___fight-status {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.arena___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.arena___fighter-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.arena___health-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
}

.arena___health-bar {
  height: 100%;
  width: 100%;
  background-color: #ebd759;
}
.arena___fighter.block,
.arena___fighter.hitting,
.arena___fighter.defending {
  transition: all 0.1s;
}
.arena___left-fighter.block {
  transform: rotate(13deg);
}

.arena___right-fighter.block {
  transform: rotate(-13deg);
}

.arena___left-fighter.hitting {
  position: relative;
  left: 70px;
  transform: rotate(-40deg);
}

.arena___right-fighter.hitting {
  position: relative;
  left: -70px;
  transform: rotate(40deg);
}

.arena___fighter.defending {
  background: rgba(255, 0, 0, 0.411);
}

.arena___left-fighter.defending {
  transform: rotateX(20deg) rotate(-13deg);
}

.arena___right-fighter.defending {
  transform: rotateX(20deg) rotate(13deg);
}
