.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___root .fighter-preview___img{
  height: 250px;
}

.fighter-preview___name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.fighter-preview___abilities{
  color: rgb(0, 0, 0);
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 18px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.fighter-preview___abilities span{
  color: rgb(255, 0, 0);
  font-size: 16px;
  font-style: italic;
}